.App {
  text-align: center;
  display: flex;
  align-items: flex-start;
  text-wrap: wrap;
}
@media (min-width: 576px) {
  .AppSync {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}
.AppSync {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
/* Remove default list styles */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Reset margin for list items */
li {
  margin: 0;
  padding: 0;
}

/* Style list items with some margin or other styles */
/* Example styles (adjust as needed) */
ul,
ol {
  margin-left: 20px; /* Adjust the margin as needed */
}

li {
  margin-bottom: 5px; /* Adjust the margin as needed */
}
